@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.spinner {
  @apply relative pointer-events-none block rounded-full w-8 h-8;
  border: 2px solid currentColor;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
