<section class="message-list">
  {{#each @model as |rant|}}
  <section class="message -left">
    <div class="nes-balloon from-left">
      <p>{{rant.text}}</p>
    </div>
    {{rant.author}}
  </section>
  {{/each}}
</section>