<section class="message-list">
  {{#each @model as |rant|}}
  <section class="message -left">
    <div class="nes-balloon from-left">
      <p>{{rant.text}}</p>
    </div>
    <img
      class="nes-avatar is-rounded"
      alt={{rant.author.username}}
      src={{rant.author.avatar}}
    />
    {{rant.author.username}}
  </section>
  {{/each}}
</section>