<form {{on "submit" this.authenticate}} class="max-w-sm mx-auto">
  <input type="hidden" name="remember" value="true" />
  <div class="rounded-md shadow-sm">
    <div>
      <Input
        @value={{this.username}}
        placeholder="Enter username"
        id="username"
        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" />
    </div>
    <div class="-mt-px">
      <Input
        @value={{this.password}}
        type="password"
        placeholder="Enter password"
        id="password"
        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" />
    </div>
  </div>

  <div class="mt-6">
    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-500 focus:outline-none focus:border-gray-700 focus:shadow-outline-gray active:bg-gray-700 transition duration-150 ease-in-out">
      <span class="absolute left-0 inset-y pl-3">
        <svg class="h-5 w-5 text-gray-500 group-hover:text-gray-100 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
        </svg>
      </span>
      Sign in
    </button>
  </div>
</form>